@{
    ViewBag.Title = "Bike Store Login Page";
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=" device-width" />
    <title>Bike Shop Login</title>
</head>

<body style="background-color:lightgray; font-size:16px">
    <br /><br />
    <h2>Login</h2>

</body>
</html>

