@{
    ViewBag.Title = "Bike Store About Us";
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=" device-width" />
    <title>Bike Shop About</title>

</head>
<body style="background-color:lightgray; font-size:16px">
    <br /><br />
    <br />
    <main id="PageMain" class="sePageMain">
        <div class="sePageMainWrapper" data-ui="page-content">
            <article id="InfoPage56" class="sePageContent" itemscope itemtype="http://schema.org/WebPage">
                <section class="section sePageSection sePageSectionResponsive" style="">
                    <div class="container">
                        <div class="row custom3-1 ">
                            <div class="col-xs-12 text-center">
                                <div class="content-block-column full-width-block block-bg-img" style="background-color: rgba(0, 0, 0, 0); background-image: url(&quot;https://www.sefiles.net/merchant/4903/images/site/20170420_SE_191-slimC.jpg?t=1569510163861&quot;); background-position: 50% 50%; background-size: cover;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                                    <div class="editContent" data-selector=".editContent">
                                        <h2 style="color:white">About The Bike Shop</h2>
                                        <p><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section sePageSection sePageSectionResponsive" style="">
                    <div class="container">
                        <div class="row wysiwyg1-1">
                            <div class="col-xs-12">
                                <div class="editContent seCustomContent" data-selector=".editContent" style="">
                                    <h2>
                                        <span>The Bike Shop Story</span>
                                    </h2>
                                    <div>
                                        <span>The Bike Shop was opened by Chris Dial at the St. Peters location in April of 1997. The original store was only 800 square feet and there were struggles, but by the end of the first year, our business was completely viable. As the company grew, we realized the need for an additional store. In February of 2001, Steve Maas joined the company, and Chris opened the O’Fallon location. The Bike Shop now has over 10,000 square feet of space between the 2 stores. We have been a Top 100 national Trek dealer since 2007.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section sePageSection sePageSectionResponsive" style="">
                    <div class="container">
                        <div class="row divider1-1 ">
                            <div class="col-xs-12">
                                <div class="divider solid"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section sePageSection sePageSectionResponsive" style="">
                    <div class="container">
                        <div class="row custom1-3 ">
                            <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" data-selector="div.content-block-column" style="height: 453.531px;">
                                <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                    <div>
                                        <img class="img-responsive" style="display: block; float: none; vertical-align: top; margin: 0px auto; text-align: center;" src="https://www.sefiles.net/merchant/2178/images/site/20170420_SE_465-slimC.jpg">
                                    </div>
                                    <div class="content-block-content">
                                        <h3>Quality &amp; Value</h3>
                                        <p>We sell products from the best bicycle brands in the world. We offer great value to our customers through competitive pricing, @Html.ActionLink("quality products", "Index", "Shop"), and superior customer service.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" data-selector="div.content-block-column" style="height: 453.531px;">
                                <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                    <div>
                                        <img class="img-responsive" style="display: block; float: none; vertical-align: top; margin: 0px auto; text-align: center;" src="https://www.sefiles.net/merchant/2178/images/site/20140104_FIT159-slimC.jpg">
                                    </div>
                                    <div class="content-block-content">
                                        <h3>Friendly Staff</h3>
                                        <p>We aren't your average bike shop. Our staff is helpful and passionate about cycling. We listen to your needs and work hard to help you find precisely the right products for you.</p><div><br></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" data-selector="div.content-block-column" style="height: 453.531px;">
                                <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                    <div>
                                        <img class="img-responsive" style="display: block; float: none; vertical-align: top; margin: 0px auto; text-align: center;" src="https://www.sefiles.net/merchant/2178/images/site/20170523_HoS_lmarshall_211-slimC.jpg">
                                    </div>
                                    <div class="content-block-content">
                                        <h3>Free Tune Ups&nbsp;</h3>
                                        <p>At @Html.ActionLink("The Bike Shop", "Index", "Home"), we were the first in the area to introduce Free Tune-Ups for Life on all bikes purchased from any of our stores. No other St. Louis area bike shop offers this level of value in service.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section sePageSection sePageSectionResponsive" style="">
                    <div class="container">
                        <div class="row divider1-1 ">
                            <div class="col-xs-12">
                                <div class="divider solid"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section sePageSection sePageSectionResponsive" style="">
                    <div class="container">
                        <div class="row custom4-1 ">
                            <div class="col-xs-12 text-center content-block-column" data-selector="div.content-block-column">
                                <div class="editContent" data-selector=".editContent">
                                    <h4 style="text-align: left;">All Cyclists Welcome</h4>
                                    <p style="text-align: left;">We’re dedicated to helping you find the perfect bicycle for your riding style. We carry a @Html.ActionLink("wide selection of bikes and cycling gear", "Index", "Shop") for beginners and experts alike, and we’re here to help you select the equipment that best meets your needs as a cyclist.&nbsp;</p>
                                    <h4 style="text-align: left;">Experienced Employees</h4>
                                    <p style="text-align: left;">Our staff is professionally trained, and our friendly employees contribute to our welcoming atmosphere. In sales and service, we’re committed to providing you with an exceptional shopping experience.</p>
                                    <h4 style="text-align: left;">Full Service Center</h4>
                                    <p style="text-align: left;">Our qualified professional mechanics service all makes and models of bicycles. Visit us for a free estimate, and count on us for quick turnaround times and quality bicycle repairs.&nbsp;</p>
                                    <h4 style="text-align: left;">Professional Bike Fit</h4>
                                    <p style="text-align: left;">Proper bicycle fit is essential to enjoying the ride. Our certified fit specialists learn about you, evaluate you in the riding position, and configure your bike to meet your cycling goals.&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </main>
</body>
</html>


